body {
    background-color: #001d3d;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
    padding: 200px;
}

.card {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 500px;
    padding: 3rem 4rem;
    border-radius: 20px;
    background: radial-gradient(328px at 2.9% 15%, rgb(191, 224, 251) 0%, rgb(232, 233, 251) 25.8%, rgb(252, 239, 250) 50.8%, rgb(234, 251, 251) 77.6%, rgb(240, 251, 244) 100.7%);
}

.search {
    box-sizing: border-box;
    display: flex;
    align-items: center;
    justify-content: start;
    border-radius: 50px;
    overflow: hidden;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
}

.search i {
    font-size: 1.3rem;
    color: dodgerblue;
    position: absolute;
    padding: 1rem;
}

.search input {
    color: #4b4b4b;
    outline: none;
    border: none;
    height: 50px;
    width: 100%;
    font-size: 1rem;
    padding-left: 3rem;
}